<div class="container" id="infoDisplay">
    <div class="row" id="menubarSmall">
        <div class="col"><!-- col col-md-6 -->
            <button class="btnmenu btn" id="app-profile-detail" (click)="display('app-profile-detail')">Mon profile</button>
        </div>
        <div class="col">
            <button class="btnmenu btn" id="app-user-order" (click)="display('app-user-order')">Mes commandes</button>
        </div>
        <div class="col">
            <button class="btnmenu btn" id="app-panier" (click)="display('app-panier')">Mon panier</button>
        </div>
        <div class="col">
            <button class="btnmenu btn" (click)="logout()">
                <i class="fa fa-sign-out"></i> Deconnexion</button>
        </div>
    </div>
    <div class="row">
        <div class="col-9" id="compContainer">
            <app-profile-detail [hidden]="visibility['app-profile-detail']"></app-profile-detail>
            <app-panier [hidden]="visibility['app-panier']"></app-panier>
            <app-user-order [hidden]="visibility['app-user-order']"></app-user-order>
        </div>
        <div class="col-3" id="menubarLarge">
            <div class="list-group" role="tablist">
                <button class="list-group-item list-group-item-action" id="app-profile-detail" data-toggle="list" (click)="display('app-profile-detail')">Mon profile</button>
                <button class="list-group-item list-group-item-action" id="app-user-order" data-toggle="list" (click)="display('app-user-order')">Mes commandes</button>
                <button class="list-group-item list-group-item-action" id="app-panier" data-toggle="list" (click)="display('app-panier')">Mon panier
                    <span class="badge badge-primary badge-pill">{{productNumber()}}</span>
                </button>
                <button class="list-group-item list-group-item-action" data-toggle="list" (click)="logout()">
                    <i class="fa fa-sign-out"></i> Deconnexion</button>
            </div>
        </div>
    </div>
</div>