span.badge {
    color:white;
}
#menubarSmall {
    display:none;
}
.btnmenu {
    padding:1%;
    background-color: white;
    border:none;
    color:rgb(105, 105, 105);
}
.btnmenu .active {
    padding:1%;
    background-color: white;
    border:none;
}
#infoDisplay {
    margin-top:1em;
}
@media screen and (max-width: 650px) {
    #menubarSmall {
        display:flex;
    }

    #menubarLarge {
        display:none;
    }
  }