<div class="footer">
  <div class="fieldset">
    <p-tabMenu [model]="menu" class="tabMenu" [activeItem]="activeItem"></p-tabMenu>
    <div class="col-12" id="compContainer">
      <app-infos [hidden]="visibility['app-infos']"></app-infos>
      <app-cgu [hidden]="visibility['app-cgu']"></app-cgu>
        <app-cgv [hidden]="visibility['app-cgv']"></app-cgv>
          <app-social [hidden]="visibility['app-social']"></app-social>
            <app-contact [hidden]="visibility['app-contact']"></app-contact>
    </div>
  </div>
</div>