<div class="fieldset">
  <div class="footer">
    <div class="divFoot">
      <div>** Offre valable sur les produits éligibles et sous réserve de disponibilité du stock. En savoir + Les déchets d'équipements
        électriques et électroniques (DEEE) ne doivent pas être jetés avec les déchets ménagers. Vous pouvez rapporter votre
        ancien matériel dans un magasin FORMAFOND dans les bacs destinés à cet effet, ou en faire la demande auprès de notre
        centre de relation clients en cas de livraison à domicile. Vous pouvez également le rapporter dans une déchetterie
        agréée pour le tri sélectif ou dans une association qui œuvre pour le recyclage des produits.
      </div>
      <div> Retrouvez tous les conseils et les actualités FORMAFOND sur le blog FORMAFOND. Préparez vos cadeaux de Noël avec FORMAFOND,
        et découvrez toute une sélection de produits pour une rentrée sportive. Retrouvez une large gamme de produits pour
        la randonnée, de nombreux masques de ski, nos nouvelles planches à voile et tous les VTT à prix de FORMAFOND. Enfin,
        FORMAFOND ne propose plus de soldes, mais des prix bas toute l'année. Pour la location de skis dans plus de 350 stations,
        faites appel à notre partenaire SkiMieuxGronul.
      </div>
    </div>
  </div>
</div>