<div class="container container-fluid">
  <div class="row">
    <div class="col">
      <div class="sm-jumbotron center-align">
        <h4>Ajouter un nouveau produit</h4>
      </div>
      <form class="col s12 white" #newProduct="ngForm" (ngSubmit)="OnSubmit(newProduct)">
        <div class="row">
          <div class="input-field col s6">
            <input class="validate" type="text" name="name" #name="ngModel" [(ngModel)]="product.name" required>
            <label data-error="Required field!">Nom du produit</label>
          </div>
          <div class="input-field col s6">
            <input class="validate" type="text" name="type" #name="ngModel" [(ngModel)]="product.type" required>
            <label data-error="Required field!">Type du produit</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input class="validate" type="text" name="price" #price="ngModel" [(ngModel)]="product.price" required placeholder="">
            <label data-error="Required field!">Prix</label>
          </div>
          <div class="col s6">
            <!-- TODO DROPDOWN FOR CATEGORY-->
            <!-- <label data-error="Required field!">category</label> -->
            <p-dropdown [options]="cat" [(ngModel)]="modifCategory" placeholder="catégorie" name="categorie" placeholder="Sélectionne la catégorie"
              optionLabel="label" [style]="{'width':'150px'}" [ngModelOptions]="{standalone: true}"></p-dropdown>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input class="validate" type="text" name="qty" #qty="ngModel" [(ngModel)]="product.qty" required placeholder="">
            <label data-error="Required field!">Quantité</label>
          </div>
          <div class="input-field col s6">
            <!-- <label data-error="">Photo</label> -->

          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <p>Photo</p>
            <p-fileUpload multiple="multiple" accept="image/*" url="./upload.php" maxFileSize="1000000" auto="true" chooseLabel="Image produit"
              customUpload="true" (uploadHandler)="onUpload($event)"></p-fileUpload>
            <p *ngIf="selectedFile">
              <strong>{{selectedFile.name}}</strong>
            </p>
          </div>
          <div class="input-field col s6">
            <p>Activé/Désactivé ce produit</p>
            <p-inputSwitch onLabel="Oui" offLabel="Non" name="activ" [(ngModel)]="product.activ"></p-inputSwitch>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <button [disabled]="" class="btn-large btn-submit" type="submit">Créer un produit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<p-growl [(value)]="msgs"></p-growl>