<div class="container container-fluid">
  <div id="menu" class="row">
    <div class="col-md-2 col-3 mr-auto">
      <a routerLink='/'>
        <img src="../../assets/logo.jpg" class="rounded img-fluid">
      </a>
    </div>
    <div class="col-md-7 col-5" id="title">
      <h1>La forme à fond</h1>
    </div>
    <div id="menuItems" class="col-3 mr-auto">
      <div class="row">
        <div class="col-4 mr-auto circle" (click)="goToCart()">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="col-4 mr-auto circle" (click)="goToProfile()">
          <i class="fa fa-user-circle"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="menuCont" class="container">
  <p-menubar [model]="items" [autoDisplay]="false">
    <p-button label="Deconnexion" icon="fa fa-sign-out" (click)='logout()'></p-button>
  </p-menubar>
</div>
<div id="burgerMenuCont" class="container">
  <div class="row">
    <div class="col-4 mr-auto">
      <button type="button" pButton icon="fa fa-list" label="Menu" (click)="burgerMenu.toggle($event)"></button>
    </div>
  </div>
</div>
<p-menu #burgerMenu popup="popup" [model]="items"></p-menu>