<nav class=" blue lighten-2" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" routerLink='/' class="brand-logo logomenu">
            <figure>
                <img src="../../assets//images/teddy-bear.png" alt="logo">
            </figure>
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a (click)="goToProfile()">Profil</a>
            </li>
            <li>
                <p-menu #burgerMenu popup="popup" [model]="items"></p-menu>
            </li>
            <li>
                <a (click)='logout()'>Déconnexion</a>
            </li>
            <li>
                <button mat-raised-button color="primary" (click)="goToCart()">Panier</button>
            </li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li>
                <a (click)="goToProfile()">Profil</a>
            </li>
            <li>
                <p-menu #burgerMenu popup="popup" [model]="items"></p-menu>
            </li>
            <li>
                <a (click)='logout()'>Déconnexion</a>
            </li>
            <li>
                <button mat-raised-button color="primary" (click)="goToCart()">Panier</button>
            </li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>