<!-- Main Navigation-->
<nav class="site-menu">
    <ul>
        <li routerLinkActive="active">
            <a routerLink="/accueil" href="">
                <span>Accueil</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/products" href="">
                <span>Adopter</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/register-login" href="">
                <span>Connexion</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/cart" href="">
                <span>Mon panier</span>
            </a>
        </li>
    </ul>
</nav>