<div class="container container-fluid">
  
  <form (ngSubmit)="onSubmit(name.value,category.value)">
      <div class="serch">
        <div class="row">
          <div class="placeholderSearch">
              <form (ngSubmit)="onSubmit()" class="NameSearch ">
                <div class="col-12">
                  <div class="ui-inputgroup">
                    <input type="text" id="namesearch" #productName required [(ngModel)]="name" name="model" pInputText placeholder="Quel produit recherchez vous?">
                  </div>
                </div>
              </form>
            </div>
           
          <div class="col-12">
              <form (ngSubmit)="onSubmit()" class="TypeSearch ui-grid-responsive">
                <div class="btnType">
                  <div class="pBtn">
                    <p-selectButton [options]="avalaibleCategories" [(ngModel)]="selectedTypes" multiple="multiple" name="SubmitedType">
                    </p-selectButton>
                  </div>
                </div>
              </form>     
          </div>
        </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 pBut">
            <button pButton type="submit" class="btnSearch" label="Rechercher"  ></button>
          </div>
        
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
          <button id="btn" (click)="redirect()"  pButton class="btnSearch" label="Ajouter un produit"  ></button>
        </div>
      </div>
  </form>


  <p-table [columns]="cols" [value]="myProducts" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header" let cols>
        <tr>
            <th *ngFor="let col of cols">
              {{col.header}}
            </th>
            <th>
              Affiché
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-cols="columns">
        <tr style="cursor:pointer">
            <td *ngFor="let col of cols" (click)="selectProduct(product)">
              {{product[col.field]}}
            </td>
            <td>
              <p-growl [life]="1000" [(value)]="msgs"></p-growl>
              <div>
                <p-inputSwitch id="activButton" (click)="activProduct(product);onOffProduct(product.activ)" onLabel="Yes" offLabel="No" [(ngModel)]="product.activ" ></p-inputSwitch>
              </div>
            </td>
        </tr>
    </ng-template>
  </p-table>


  <p-dialog  header="Product Details" [(visible)]="display" [responsive]="true" showEffect="fade" [modal]="true" width="500" (onAfterHide)="onDialogHide()"
  [dismissableMask]="true">
      <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedProduct" style="font-size:16px;text-align:center;padding:20px">
          <div class="row">
              <div class="col-12" style="text-align:center">
                <form>
                  <div class="row">
                    <div  class="col-sm-12" style="text-align:left">
                      <img id="img" class="img-fluid" src="{{selectedProduct.src}}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                      <div class="label">
                        Id
                      </div>
                      <div class="field">
                        {{selectedProduct.id}}
                      </div>
                    </div>
                 
                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                        <div class="label">
                          Nom
                        </div>
                      <input #productName id="name"  type="text" [(ngModel)]="selectedProduct.name" name="name" pInputText placeholder="{{selectedProduct.name}}">
                    </div>
                  </div>
                    <div class="row">
                      <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                        <div class="label">
                          Quantité
                        </div>
                        <input #productQty id="qty" [(ngModel)]="selectedProduct.qty" name="qty"  type="text" pInputText placeholder="{{selectedProduct.qty}}">
                      </div>
                      <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                        <div class="label">
                          Prix
                        </div>
                        <input #productPrice id="price" type="text" [(ngModel)]="selectedProduct.price" name="price" pInputText placeholder="{{selectedProduct.price}}">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                        <div class="label">
                          Type
                        </div>
                        <input #productType id="type" type="text" [(ngModel)]="selectedProduct.type" name="type" pInputText placeholder="{{selectedProduct.type}}">
                      </div>
                      <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                        <div class="label">
                          Catégorie
                        </div>
                        <p-dropdown [options]="cat" [(ngModel)]="modifCategory" placeholder={{selectedProduct.category}} name="selectedProduct.category"  optionLabel="label" [style]="{'width':'150px'}" [ngModelOptions]="{standalone: true}"></p-dropdown>
                      </div>
                    </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                    <p-scrollPanel [style]="{width: '100%', height: 'auto'}" styleClass="custombar1">
                        <textarea #productDescript pInputTextarea>{{selectedProduct.descript}}</textarea> 
                    </p-scrollPanel>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <button (click)="removeProduct(selectedProduct.id);display=false" type="button" pButton class="ui-button-danger" label="Supprimer produit"></button>
          <button (click)="saveProduct(productName.value,productQty.value,productPrice.value,productType.value,productDescript.value);display=false"  pButton type="button" class="btnModify" label="Modifier produit"></button>
      </div>
  </p-dialog>
</div>