<div class="alert alert-danger" [hidden]="!error">
    There was a problem logging in. Please try again.
</div>
<form role="form" (submit)="login()" class="form-container">
    <div mdcTextField [helperText]="">
        <input mdcTextFieldInput type="text" #input1="ngModel" [(ngModel)]="credentials.identifiant" [disabled]="disabled" [required]="required" name="username" />
        <label mdcFloatingLabel>Identifiant</label>
    </div>
    <div mdcTextField [helperText]="">
        <input mdcTextFieldInput type="text" #input2="ngModel" [(ngModel)]="credentials.mdp" [disabled]="disabled" [required]="required" name="password" />
        <label mdcFloatingLabel>Mot de passe</label>
    </div>
    <button mdcButton raised type="submit">Me connecter</button>
</form>