<form action="" class="form-container">
    <div mdcTextField [helperText]="">
        <input mdcTextFieldInput type="text" #input1="ngModel" [(ngModel)]="username" [disabled]="disabled" [required]="required" name="username" />
        <label mdcFloatingLabel>Identifiant</label>
    </div>
    <div mdcTextField [helperText]="">
        <input mdcTextFieldInput type="text" #input1="ngModel" [(ngModel)]="password" [disabled]="disabled" [required]="required" name="password" />
        <label mdcFloatingLabel>Mot de passe</label>
    </div>
    <a href="javascript:void(0)" mdcButton raised>Me connecter</a>
</form>