.bg-img-home {
    background-image: url(../../assets/images/tigre.jpg);
    background-size: cover;
    height: 550px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}