section.mdc-card__media.mdc-card__media--16-9 {
    max-height: 200px;
}

.mdc-card__media--16-9::before {
    margin-top: 0;
}

mat-card.example-card.mat-card {
    max-width: 24%;
    display: inline-block;
}