<div class="container">
  <div class="row">
    <div class="col-xs-7 col-md-8 col-sm-8 col-lg-8">
      <div class="card">
        <div class="card-header bg-primary">
          <h3 class="card-title">Mon Panier</h3>
        </div>
        <div class="card-body">
        </div>
        <div class="d-flex justify-content-between">
          <div class="p-2">
            <ul class="list-group" *ngFor="let p of monPanier">
              <li class="list-group-item">{{p.name | uppercase}}
                <div class="d-flex justify-content-between">
                  <figure class="figure">
                    <img src="{{p.src}}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure." width="140" height="100">
                    <figcaption class="figure-caption text-right">{{p.description | uppercase}}</figcaption>
                  </figure>
                  <div class="p-2 btnsupp">
                    
                    <input type="number" step="1" value="{{ p.qty }}" min="0" max="64" (change)="quantityChange($event,p.id)"> 
                    <p style="font-size:1em"><span style="font-size:  0.70vw" >prix Unitaire: </span>{{p.price}}&euro;</p>
                    <p>prix Total: {{p.qty * p.price}}&euro;</p>
                  </div>
                  <div class="p-2 btnsupp">
                    <button class="btn btn-danger btn-block" (click)="deleteArticle(p.id)">
                      <i class="fa fa-trash-o fa-lg"></i>
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-5 col-md-4 col-sm-4 col-lg-4" id="sidebar" >
      <div class="card">
        <div class="card-header bg-warning">
          <h3 class="card-title">Total</h3>
        </div>
        <div class="card-body" >
          <h2> {{updateTotal()}} &euro;</h2>
          <p class="card-text">Nombre de produit dans votre panier est : {{nbrProduit()}} produits</p>
          <button class="btn btn-danger" style="width: 80%;" (click)="checkout()">
            <span style="font-size: 70%;"> Valider mon panier</span>
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <p-growl [(value)]="msgs"></p-growl>