<mat-toolbar>
    <a routerLink="/" class="logomenu">
        <figure>
            <img src="../assets/images/teddy-bear.png" alt="Logo ours en peluche">
        </figure>
    </a>
    <span class="fill-remaining-space"></span>
    <div [hidden]="adminAuthenticated() || userAuthenticated()">
        <app-menu></app-menu>
    </div>
    <div [hidden]="!adminAuthenticated()">
        <app-menuadmin></app-menuadmin>
    </div>
    <div [hidden]="!userAuthenticated()">
        <app-menulogin></app-menulogin>
    </div>
</mat-toolbar>

<section class="mce-container-body m-container">

    <router-outlet></router-outlet>

</section>

<footer class="mce-container">
    <figure>
        <img src="../assets/images/teddy-bear.png" alt="Logo ours en peluche">
    </figure>
    <h2>De Tendres Animaux</h2>
</footer>