p-accordionTab {
    font-size: 100%;
    opacity: 1;
}

p {
    font-size: 90%;
}

.container {
    padding: 1%;
}

h4 {
    color:white;
    display: flex;
    justify-content: center;
    padding: 1%;
}