<div class="container container-fluid">
  <div class="row">
    <div class="col">
      <div class="sm-jumbotron center-align">
        <h4>Nouveau utilisateur</h4>
      </div>
      <form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
        <div class="row">
          <div class="input-field col s6">
            <input class="validate" type="text" name="mail" #Email="ngModel" [(ngModel)]="user.mail" [pattern]="emailPattern">
            <label data-error="Invalid email!">Email</label>
          </div>
          <div class="input-field col s6">
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required minlength="3">
            <label [attr.data-error]="password.errors!=null?(password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Mot de passe</label>
          </div>

        </div>
        <div class="row">
          <div class="input-field col s6">
            <input class="validate" type="text" name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName" required>
            <label data-error="Required field!">Prenom</label>
          </div>
          <div class="input-field col s6">
            <input class="validate" type="text" name="lastName" #lastName="ngModel" [(ngModel)]="user.lastName" required>
            <label data-error="Required field!">Nom</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input class="validate" type="text" name="phone" #phone="ngModel" [(ngModel)]="user.phone" required minlength="3" maxLength="10">
            <label>Telephone</label>
          </div>
          <div class="input-field col s6">
            <input class="validate" type="text" name="address" #address="ngModel" [(ngModel)]="user.address" required minlength="3">
            <label>Addresse</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <p-checkbox name="cgu" value="CGU" [(ngModel)]="checkCGU"></p-checkbox>
            <a id="cgu" (click)="showCGU()">Accepter les conditions générales de ventes et d'utilisation</a>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button [disabled]="" class="btn-large btn-submit" type="submit">Créer mon compte</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<p-dialog header="Conditions générales de ventes et d'utilisation" [(visible)]="CGUPanelVisi" [dismissableMask]="true" [draggable]="false"
  [modal]="true" [responsive]="true" showEffect="fade">
  <div class="container">
    <h2>CONDITIONS GÉNÉRALES DE VENTE</h2>
    <h2>LUDIC FORMATION</h2>
    <h3>Article 1 / Dispositions Générales</h3>
    <p>1.1 Application : Les présentes Conditions Générales de Vente (ci-après « Conditions Générales ») s’appliquent à toute
      commande passée auprès de la société Ludivine Crépin (ci-après « LudiC Formation ») par ses clients (ci-après « Client(s)
      »), quelle que soit la filiale de Ludic Formation auprès de laquelle cette commande a été passée. Ces Conditions Générales
      prévalent sur toutes autres conditions générales et ne peuvent être modifiées que par des Conditions Particulières
      préalablement et expressément acceptées par écrit par LudiC Formation et par le Client. En aucun cas les conditions
      générales d'achat du Client ne sont opposables aux Conditions Générales de Vente de LudiC Formation. Par le fait de
      remplir le formulaire de demande d'inscription à une formation, de confirmer les données introduites et d'envoyer ce
      formulaire à LudiC Formation, l'utilisateur reconnaît avoir pris connaissance des présentes Conditions Générales ainsi
      que des mentions d'avertissement (mentions légales et politique relative à la vie privée), les comprendre, et déclare
      les approuver sans réserve.</p>

    <p>1.2 Références Commerciales : Le Client autorise LudiC Formation à faire figurer le nom et/ou logo du Client sur une
      liste de références commerciales, sauf mention explicite de la part du Client.</p>

    <p>1.3 Cession : Les Conditions Générales seront applicables aux Parties ainsi qu'à tous leurs successeurs ou cessionnaires,
      étant expressément admis par les Parties qu'elles ne pourront céder ou déléguer leurs droits ou obligations stipulés
      aux présentes (autres que ceux expressément admis dans le cadre des présentes) à aucun tiers sans l'accord préalable
      et écrit de l'autre Partie.</p>

    <h3>Article 2 / Niveau Requis</h3>
    <p>LudiC Formation définit le niveau requis pour suivre les formations, cette définition se trouve dans le catalogue des
      formations de Ludic Formation alors en vigueur. Le client est tenu de valider les prérequis nécessaires pour suivre
      les formations. LudiC Formation ne pourra en aucune manière être tenu pour responsable des conséquences d’une absence
      d’information de la part du Client ou de l’inexactitude des informations qui lui auraient été données par le Client.</p>

    <h3>Article 3 / Inscriptions - Annulations</h3>
    <p>3.1 Inscriptions : Toute commande devra être formulée par écrit. Toute commande est soumise à l’acceptation de LudiC
      Formation, qui intervient dans les huit (8) jours ouvrés de la réception de la commande. LudiC Formation peut modifier
      certaines modalités de la commande, et en notifier alors le Client, lequel sera réputé avoir accepté les dites modifications
      à défaut de contestation dans un délai de cinq (5) jours ouvrés à compter de la date de réception de la notification.
      Notamment, LudiC Formation se réserve le droit de refuser une inscription à une formation dans le cas où le nombre
      maximum de participants serait atteint, le participant sera alors orienté vers une autre date ou un partenaire.</p>
    <p>Pour toute demande de formations spécifiques (écriture d’un support de cours, traitement particulier d’un sujet, etc.),
      le Client devra adresser à LudiC Formation une commande écrite et détaillée en termes technique, pédagogique, d’équipement
      et d’objectif à atteindre. LudiC Formation adressera alors un devis détaillé au Client des prestations et prix proposés.</p>

    <p>3.2 Convocation et déroulement des cours : LudiC Formation adressera une convocation (accompagnée du descriptif pédagogique
      sur demande du client) ainsi que les informations générales liées à la formation avant le début de celle-ci. LudiC
      Formation peut avoir recours, dans le cadre des formations qu'elle propose, à des partenaires extérieurs.</p>

    <p>3.3 Annulations du Client : Toute annulation, report ou modification d’une commande du fait du Client doit être expressément
      notifiée à LudiC Formation. En cas d’annulation, de report ou de modification d’une commande par le Client, celui-ci
      acquittera, à titre de dédommagement à LudiC Formation, une somme forfaitaire, déterminée comme suit : - 50 % du montant
      de la commande resteront acquis à LudiC Formation si l’annulation, le report ou la modification est reçue dans les
      10 jours ouvrés qui précèdent le début des formations - 100 % si l’annulation, le report ou la modification est reçue
      moins de 5 jours ouvrés avant la date prévue pour les formations. Toutefois, si l’annulation, le report, ou la modification
      est motivée par la survenance d’incidents familiaux ou de santé graves et justifiés du Client, celui-ci pourra reporter
      son inscription sur une session ultérieure sans coût supplémentaire, sur présentation d’un justificatif médical pour
      chaque cours annulé.</p>

    <p>3.4 Annulations de LudiC Formation : LudiC Formation se réserve le droit d’annuler toute formation en cas de force majeure
      (notamment manque de participants, de problèmes d’approvisionnement en supports de cours, de maladie de son formateur,
      interruption des services en cas de conflits sociaux, défaillance des moyens de transmission des communications, indisponibilité
      des locaux de formation du fait d’un tiers, conditions météorologiques, etc.) sans dédommagement, ni pénalité au Client.
      LudiC Formation se réserve le droit d'annuler une formation si le nombre minimum de participants n'est pas atteint
      ou si aucun formateur n'est disponible pour assurer la formation. Le Client pourra choisir une autre date dans le calendrier
      des formations, ou annuler son inscription sans pénalités. LudiC Formation ne pourra être tenu responsable des frais
      engagés par le Client ou de dommages conséquents à l'annulation d'une formation ou à son report à une date ultérieure.
      Les catalogues des formations de Ludic Formation ne sont pas des documents contractuels et LudiC Formation se réserve
      le droit d’interrompre la commercialisation, à tout moment, de l’une de ses formations. Les dates de sessions sur le
      site internet ou les supports de communication LudiC Formation sont indicatives et le déroulement d'une action de formation
      implique la présence d'un nombre minimum de participants. LudiC Formation se réserve le droit d'annuler la formation
      en cas de vente à perte.</p>

    <h3>Article 4 / Prix et conditions de paiement</h3>
    <p>4.1 Prix : Toute formation est soumise à une tarification, affichée au regard de chacune d'entre elle, qui peut varier
      en fonction de catégories de personnes. L'utilisateur reconnaît en avoir pris connaissance et accepter le tarif indiqué.
      Le prix des formations est celui en vigueur au moment de l’émission de la commande, toute remise antérieurement accordée
      peut être modifiée lors de chaque nouvelle commande. Les prix sont exprimés en euros hors taxes et sont à majorer du
      taux de TVA en vigueur. Le prix de la formation couvre les coûts d'animation ainsi que la fourniture d'un (1) support
      de cours par participant, dans le cadre des sessions publiques inter-entreprises. Il n'inclut pas les frais de transports,
      d'hébergement ou de restauration du participant.</p>

    <p>4.2 Conditions de paiement : LudiC Formation établit une facture définitive le dernier jour de la formation. Le Client
      s'engage à en effectuer le paiement à réception de facture, sauf Clients hors France pour lesquels un prépaiement sera
      exigé quinze (15) jours avant le début de la formation (LudiC Formation se réserve le droit de refuser la venue d’un
      participant dans le cas d’un manquement du paiement avant sa formation), et sauf stipulations contraires précisées
      dans des conditions particulières. De plus, à l’égard de tout nouveau Client, ou en cas de défaillance ou de retard
      d’un Client dans le règlement d’une précédente facture, LudiC Formation se réserve le droit d’exiger un prépaiement.</p>
    <p>Les traites adressées pour acceptation doivent nous être retournées sous huitaine de leur envoi. L’échéance du règlement
      est stipulée en clair sur la facture. Toute somme impayée à son échéance portera de plein droit intérêt au taux ce
      taux est égal au taux d’intérêt appliqué par la Banque centrale européenne à son opération de refinancement la plus
      récente majoré de 10 points de pourcentage à partir du premier jour de retard. En outre, tout retard ou refus de paiement
      à l’échéance entraînera, de plein droit, après une mise en demeure par lettre recommandée avec demande d’accusé de
      réception demeurée infructueuse 8 jours ouvrés après son envoi, l’exigibilité : - pour tout professionnel, en sus des
      indemnités de retard, toute somme, y compris l’acompte, non payée à sa date d’exigibilité produira de plein droit le
      paiement d’une indemnité forfaitaire de 40 euros due au titre des frais de recouvrement ; lorsque les frais de recouvrement
      exposés sont supérieurs au montant de cette indemnité forfaitaire, LudiC Formation pourra demander une indemnisation
      complémentaire, sur justification, - à titre d’indemnité forfaitaire, d’une somme égale à 25% du prix, hors taxes,
      de la commande, - des factures non encore échues, le retard de paiement emportant déchéance du terme. En outre, en
      cas de défaut de paiement total ou partiel, LudiC Formation conservera les acomptes éventuellement perçus, à titre
      d’indemnité minimum forfaitaire sans préjudice des dommages-intérêts complémentaires qu’elle pourrait réclamer. Enfin,
      en cas de doute sur la solvabilité du Client établi sur la base de données internes à LudiC Formation telles que retards
      de paiement de factures antérieures, ou sur celle de données externes telles que, par exemple, la prise d’inscription
      de privilèges, LudiC Formation se réserve le droit de résilier et/ou résoudre de plein droit, immédiatement, par la
      seule émission d’une lettre recommandée avec avis de réception, toutes les commandes en cours, sans compensation.</p>

    <h3>Article 5 / Droits de Propriété</h3>
    <p>La prestation de formation comprend la fourniture de la documentation destinée à l'usage interne du Client. LudiC Formation
      et/ou les constructeurs conservent l'intégralité des droits d'auteur (propriété littéraire et artistique) et des droits
      de propriété intellectuelle et industrielle sur le contenu des formations ainsi que sur la littérature éditée et la
      documentation fournie par LudiC Formation. Toute reproduction, modification ou divulgation à des tiers de tout ou partie
      de ces formations ou documents, sous quelque forme que ce soit, est interdite sans l'accord préalable écrit de LudiC
      Formation.
    </p>

    <h3>Article 6 / Responsabilités</h3>
    <p>L'obligation souscrite par LudiC Formation, dans le cadre de ses formations, constitue une obligation de moyens et non
      une obligation de résultats. LudiC Formation dispense une part importante de ses formations à partir des supports de
      cours fournis par les constructeurs, sans pouvoir être tenue responsable du contenu de ces supports (erreur de traduction,
      différence de version ou de mise à jour, etc.). LudiC Formation décline toute responsabilité pour tous les types de
      tests (VUE, Thomson Prometric, APMG ou autres), notamment quant aux résultats des participants et à la valeur de ces
      résultats. Dans le cadre d’une formation spécifique, LudiC Formation n’assure que la fourniture des cours et des supports,
      à l’exception de toutes autres prestations. Le Client s’engage à fournir à LudiC Formation tous les moyens qui seraient
      nécessaires pour que les cours se déroulent dans des conditions normales et dans un environnement adapté et conforme.
      LudiC Formation ne peut être tenue en aucun cas responsable d’un manque de mise à disposition par le client de matériel
      ou de logiciel, de la gestion d’une panne éventuelle ou de la conformité du site. Tout problème de quelque nature que
      ce soit survenant avant, pendant ou après la prestation ne peut engager la responsabilité de LudiC Formation. En aucun
      cas LudiC Formation ne pourra être tenue responsable de dommages dus à l’inexécution par le Client de ses obligations,
      de dommages indirects ou immatériels, de dommages résultant de la perte de données, de dommages liés à un retard de
      livraison, un manquant ou une avarie, de dommages liés à une non-conformité aux besoins du Client, ou de dommages dus
      à une cause indépendante de la volonté de LudiC Formation constitutive de force majeure. De plus, dans l’hypothèse
      où sa responsabilité serait reconnue par les tribunaux, pour toute cause qui lui seront imputables, le montant maximum
      de l’indemnité exigible par un Client pour réparation de son préjudice serait limitée à 10 000 euros. Il est expressément
      convenu que tout préjudice financier ou commercial (par exemple perte de bénéfices ou d’économies, pertes de commandes
      ou trouble commercial quelconque) ou toute action dirigée contre le Client par un tiers constitue un dommage indirect
      et par conséquent n’ouvre pas droit à réparation. Il en est de même de la perte des données ou enregistrements du Client.
      Au cas où un participant à une formation payée serait insatisfait pour des raisons objectivement justifiées, et reconnues
      comme telles par LudiC Formation et qui ne lui seraient pas imputables (inaptitude, retard, absence, etc.) celle-ci
      s’engage à réinscrire ce participant pour cette même formation ou toute autre formation de même durée, aux dates de
      son choix sous réserve du planning et sans coût supplémentaire.</p>

    <h3>Article 7 / Droit applicable - Attribution de compétence</h3>
    <p>7.1 Conformité aux Lois : Le présent contrat est soumis à la loi française. Les Parties s'engagent à se conformer à tout
      moment aux lois et réglementations en vigueur et applicables à la date de réalisation des services régis par les Conditions
      Générales et/ou la Commande.</p>

    <p>7.2 Procédure d'escalade : Chacune des Parties accepte que tout différend entre les Parties relatif aux présentes sera,
      dans un premier temps, soumis à un dirigeant expérimenté désigné par chacune des Parties, ces dirigeants se rencontreront
      afin de trouver une solution au différend. Les décisions prises par les dirigeants mentionnés ci-dessus seront définitives
      et irrévocables, les Parties acceptant dès à présent de s'y soumettre.</p>

    <p>7.3 Juridiction Compétente : Tout litige sera de la compétence du Tribunal de commerce de Montpellier.</p>

  </div>
</p-dialog>

<p-growl [(value)]="msgs"></p-growl>